<h1> New/Edit Trait Form </h1>


<%= form_for [universe, trait]  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>

  <%= f.label :description %>
  <%= f.text_area :description %>
  </br>

  <%= f.label :datatype %>
  <%= f.text_field :datatype %>
  </br>

  <%= f.submit %>
<% end %>
