<ul>
<%= render partial: './hello' %>
</ul>

<h3><%= @trait.name %></h3>
<br>

<p><%= @trait.description %></p>
<br>
<p><%= @trait.datatype %></p>
<br>

<%= link_to "Edit this trait", edit_universe_trait_path %><br><br>

<%= link_to "Return to homepage", "/" %>