<h1> New/Edit Character Form </h1>


<%= form_for [universe, character]  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>

  <%= f.label :biography %>
  <%= f.text_area :biography %>
  <br><br>

  <% if @character.id && @character.character_traits.size == @character.universe.traits.size %>
    <% @character_traits.each do |character_trait| %>
  	  <%= f.fields_for :character_traits, character_trait do |trait_fields| %>
  		     <%= character_trait.trait.name %> - enter value below<br>
  		     <%= trait_fields.text_field :stat %><br><br>
      <% end %>
  	<% end %>
  <% end %>

  <%= f.submit %>
<% end %>