<h1> New/Edit Character Form </h1>


<%= form_for :characters  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>

  <%= f.label :biography %>
  <%= f.text_area :biography %>
  </br>

  <% f.traits.each do |trait| %>
  	<%= f.fields_for :traits, trait do |trait_fields| %>
  		<%= trait_fields.label :trait.name %>
  		<%= trait_fields.text_field :trait.stat %>
  	<% end %>
  <% end %>

  <%= f.submit %>
<% end %>