<h1> New/Edit Character Form </h1>


<%= form_for [universe, character]  do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br><br>

  <div class="field">
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  </div>
  <br><br>

  <% if @character.id && @character.character_traits.size == @character.universe.traits.size %>
    <% @character_traits.each do |character_trait| %>
  	  <%= f.fields_for :character_traits, character_trait do |trait_fields| %>
           <div class="field">
    		     <%= character_trait.trait.name %> - enter value below<br>
    		     <%= trait_fields.text_field :stat %><br><br>
           </div>
      <% end %>
  	<% end %>
  <% end %>

  <div class="fSubmit">
    <%= f.submit %>
  </div>
<% end %>