<h1> New/Edit Character Form </h1>


<%= form_for [universe, character]  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>

  <%= f.label :biography %>
  <%= f.text_area :biography %>
  <br><br>

  <% traits.each do |trait| %>
  	<%= f.fields_for :traits, trait do |trait_fields| %>
  		<%= trait.name %> - enter value below<br>
  		<%= trait_fields.text_field :stat %><br><br>
  	<% end %>
  <% end %>

  <%= f.submit %>
<% end %>