<ul>
<%= render partial: './hello' %>
</ul>

<h2>The universes currently supported are: </h2>
<% @universes.each do |universe| %>
  <%= universe.title %> - <%= link_to universe.title, "/universes/#{universe.id}", action: :get %><br>
  <%= universe.description %><br>
<% end %><br>
<p> More universes on the way! </p>

<% if can? :create, @universe %>
	<%= link_to "Create new universe", "/universes/new", action: :get %>
<% end %>

