<ul>
<%= render partial: './hello' %>
</ul>

<h1> The <%= @universe.title %> Universe </h1>

<h3> Description: <%= @universe.description %> </h3>

<% if can? :update, @universe %>
	<%= link_to "Edit this universe", "/universes/#{@universe.id}/edit" %>
<% end %>

<h3> Characters in this universe </h3><br>
<% @universe.characters.each do |character| %>
	<%= character.name %> - <%= link_to "Visit this character's show page", "/universes/#{@universe.id}/characters/#{character.id}" %><br><br>
	  <button class="char-more" id="<%= character.id %>">More Info</button><br><br>
	  <div id="character-<%= character.id %>"><%= truncate(character.biography) %></div><br>
	  <div id="character-<%= character.id %>-stats"></div><br>
  	  
<% end %>



<% if @user %>
	<%= link_to "Make new character", "#{@universe.id}/characters/new", action: :get %>
<% else %>
	<p>Log In or Sign Up to make new character; see links at top of page</p>
<% end %><br>

<h3> Characters in this universe </h3><br><br>
<button class="univTraits">Click to see Traits</button><br>
<div id="universeTraits"></div>


<% if @user && @universe.characters.empty? %>
	<%= link_to "Make new trait", "#{@universe.id}/traits/new", action: :get %>
<% end %>

<!-- old code 
<ul>
<% @universe.traits.each do |trait| %>
	<h3><%= trait.name %></h3>
	<li><%= trait.description %></li>
		<% if trait.datatype == "integer" || trait.datatype == "Integer" %>
			<li><%= Trait.min_and_max_character_traits(trait.id) %></li>
		<% end %>
<% end %>
</ul> -->